<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stops</title>
</head>
<body>
<h1>Остановки</h1>
<form class="ui form" method="post" action="#" th:action="@{/tl/stops/sorting}" th:object="${stopSort}">
  Сортировать по:<input type="radio" th:name="exp" th:value="id" />Id
  <input type="radio" th:name="exp" th:value="name">Name
  <input type="radio" th:name="exp" th:value="city">City
  <input type="submit" th:value="Применить">
  <div>
    Параматры сортировки:<input type="radio" th:name="direction" th:value="ASC"/>ASC
    <input type="radio" th:name="direction" th:value="DESC"/>DESC
  </div>

  <div>
    Количество элементов на странице:<input type="radio" th:name="pageSize" th:value="5"/>5
    <input type="radio" th:name="pageSize" th:value="10"/>10
  </div>

  <div>
    Страницы:<input type="submit" th:name="page" th:value="0"/>
    <input type="submit" th:name="page" th:value="1"/>
  </div>
</form>
<table>
  <thead>
  <tr>
    <td>Порядковый номер</td>
    <td>Название остановки</td>
    <td>Название населенного пункта</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="stop, iterator : ${sort}">
    <td th:text=${iterator.index+1}></td>
    <td th:text=${stop.name}></td>
    <td th:text=${stop.city}></td>
    <td><a th:href="@{/tl/stops/{stopId}(stopId=${stop.id})}">Показать все</a> </td>
  </tr>
  </tbody>
</table>
</body>
</html>